**/.env

.venv/
.vscode/
**/project01/
**/__pycache__
**/node_modules
**/.pnpm
**/.wrangler
**/public
**/dist
**/.nuxt
**/.output
**/bak
**/.dev.vars

**/.gitignore

frontend/node_modules

apps/docs-out